.series_follow_page{
    .intro_sec{
        padding-top: 1rem;
        padding-bottom: 3rem;
    }    
}

@media (max-width:767px) {
    section.common_sec.inverse_col .row {
        flex-direction: column-reverse;
    }
    .common_sec {
        padding-bottom: 3rem;
    }
    .common_sec img{
        margin-bottom: 1rem;
    }
}