.common_btn{
    &.banner_btn{
        padding: 1em 3em !important;
    }
    font-size: clamp(0.75rem,2vw,0.85rem);
    width: fit-content;
    padding: 0.75em 5em;
    display: flex;
    align-items: center;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    @include Smooth(1s);
    border: 0;
    &:hover{
        color: #fff;
        transform: rotateX(360deg);
    }
    svg{
        margin-left: 1.5rem;
        font-size: 1rem;
    }
}